@page "/orders/{OrderId}"
@using ApprovalDemo.ApprovalItems
@using ApprovalDemo.Orders
@inherits ApprovalDemoComponentBase

<PageProgress Visible="Loading" Color="Color.Info" />
<Card>
    <CardHeader>
        <h2>Order Details</h2>
    </CardHeader>
    <CardBody>
        <Tabs RenderMode="TabsRenderMode.LazyLoad" SelectedTab="Details">
            <Items>
                <Tab Name="Details">Details</Tab>
                <Tab Name="Journal">Journal</Tab>
            </Items>
            <Content>
                <TabPanel Name="Details">
                    <Fields>
                        <Field ColumnSize="ColumnSize.Is12">
                            <FieldLabel>Name</FieldLabel>
                            <div>@Order.Item</div>
                        </Field>
                        <Field ColumnSize="ColumnSize.Is12">
                            <FieldLabel>Is Hot</FieldLabel>
                            <div>@(Order.IsHot ? "Yes" : "No")</div>
                        </Field>
                        <Field ColumnSize="ColumnSize.Is12">
                            <FieldLabel>Description</FieldLabel>
                            <div>@Order.Description</div>
                        </Field>
                        <Field ColumnSize="ColumnSize.Is12">
                            <FieldLabel>Status</FieldLabel>
                            <div>@Order.Status</div>
                        </Field>
                    </Fields>
                </TabPanel>
                <TabPanel Name="Journal">
                    <DataGrid TItem="JournalEntryDto"
                              Data="Order.Journal"
                              PageSize="@int.MaxValue">
                        <DataGridColumns>
                            <DataGridColumn TItem="JournalEntryDto"
                                            Field="@nameof(JournalEntryDto.TimeStamp)"
                                            Caption="TimeStamp">
                            </DataGridColumn>
                            <DataGridColumn TItem="JournalEntryDto"
                                            Field="@nameof(JournalEntryDto.Message)"
                                            Caption="Message">
                            </DataGridColumn>
                        </DataGridColumns>
                    </DataGrid>
                </TabPanel>
            </Content>
        </Tabs>
    </CardBody>
    <CardFooter>
        @foreach (var action in Order.Actions)
        {
            <Button Color="Color.Primary" Margin="Margin.Is1.FromEnd" Clicked="@(() => SendUserAction(action))">@action</Button>
        }

        @if (CanReset)
        {
            <Button Color="Color.Primary" Margin="Margin.Is1.FromEnd" Clicked="@(() => ResetWorkflow())">Reset workflow</Button>
        }

        @if (CanDetach)
        {
            <Button Color="Color.Primary" Margin="Margin.Is1.FromEnd" Clicked="@(() => DetachWorkflow())">Detach workflow</Button>
        }

    </CardFooter>
</Card>